In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

# DATOS

In [9]:
df = pd.read_excel("C:/Users/Paula/OneDrive/Escritorio/PMYS/INTRODUCCION A PYTHON/INTRODUCCION_A_PYTHON_PC/Proyecto_MYS/Dateframe_aireBog.xlsx")
print(df)

                 DateTime  PM10_(µg-m3)  CO_(ppm)  OZONO_(ppm)  NO_(ppm)  \
0     2019-04-01 00:00:00          42.3       1.8          4.9      41.5
1     2019-04-01 00:00:00          55.9       1.4         12.6      26.0
2     2019-04-01 00:00:00          40.8       1.4          7.2      19.7
3     2019-04-02 00:00:00          28.3       1.5          1.0      29.8
4     2019-04-02 00:00:00          41.6       1.1         11.2      17.4
...                   ...           ...       ...          ...       ...
2284           30-05-2022          15.3       0.3         13.4       6.7
2285           30-05-2022          16.9       0.5          5.4      13.3
2286           31-05-2022          29.0       0.2          1.1      80.7
2287           31-05-2022          24.3       0.3         22.3       7.7
2288           31-05-2022          25.9       NaN         11.5      12.3

      NO2_(ppm)  NOX_(ppm)  SO2_(ppm)  Vel_Viento_(m-s)  Dir_Viento_(grados)  \
0          22.1       63.5        2.1               1.4                301.0
1          24.8       50.7        1.5               1.8                326.0
2          30.2       49.9        0.7               2.6                308.0
3          26.2       56.0        0.7               1.4                333.0
4          24.2       41.6        1.5               2.8                292.0
...         ...        ...        ...               ...                  ...
2284        2.5        9.2        NaN               1.6                168.0
2285        9.7       23.0        NaN               1.1                 57.0
2286        9.3       89.9        NaN               0.7                338.0
2287        4.6       12.4        NaN               1.6                289.0
2288       13.8       26.1        NaN               1.0                116.0

      Temperatura_(C)  Precipitacion_(mm)  PM10_Flow_(L-m)  PM2.5_(µg-m3)  \
0                13.6                 0.0             12.6           10.2
1                17.2                 0.3             12.5           28.8
2                13.9                 7.9             12.6           16.4
3                12.6                 1.8             12.7           13.4
4                14.6                10.5             12.6           22.7
...               ...                 ...              ...            ...
2284             17.3                 0.3              NaN            NaN
2285             14.1                 0.0              NaN            NaN
2286             10.3                 0.0              NaN            NaN
2287             19.0                 0.0              NaN            NaN
2288             14.5                 2.3              NaN            NaN

      Presion_Baro_(mmHg)   Rad_Solar_(W-m2)  HR_(%)      Localidad
0                      NaN               NaN     NaN  Puente_aranda
1                      NaN               NaN     NaN  Puente_aranda
2                      NaN               NaN     NaN  Puente_aranda
3                      NaN               NaN     NaN  Puente_aranda
4                      NaN               NaN     NaN  Puente_aranda
...                    ...               ...     ...            ...
2284                 564.0             342.0   60.40      Guaymaral
2285                 563.0              17.0   66.35      Guaymaral
2286                 564.0              39.0   82.13      Guaymaral
2287                 564.0             390.0   53.09      Guaymaral
2288                 564.0              52.0   72.95      Guaymaral

[2289 rows x 18 columns]

# TIPO DE DATOS

In [15]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
print(df['DateTime'].dtype)
df['Localidad'] = df['Localidad'].astype(str)
print(df['Localidad'].dtype)

datetime64[ns]
object

In [16]:
df.shape
df.info() #inspeccion

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2289 entries, 0 to 2288
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DateTime              2289 non-null   datetime64[ns]
 1   PM10_(µg-m3)          2096 non-null   float64
 2   CO_(ppm)              1656 non-null   float64
 3   OZONO_(ppm)           2245 non-null   float64
 4   NO_(ppm)              2201 non-null   float64
 5   NO2_(ppm)             2203 non-null   float64
 6   NOX_(ppm)             2205 non-null   float64
 7   SO2_(ppm)             1112 non-null   float64
 8   Vel_Viento_(m-s)      2219 non-null   float64
 9   Dir_Viento_(grados)   2228 non-null   float64
 10  Temperatura_(C)       2286 non-null   float64
 11  Precipitacion_(mm)    2103 non-null   float64
 12  PM10_Flow_(L-m)       621 non-null    float64
 13  PM2.5_(µg-m3)         2026 non-null   float64
 14  Presion_Baro_(mmHg)   914 non-null    float64
 15  Rad_Solar_(W-m2)      1635 non-null   float64
 16  HR_(%)                1646 non-null   float64
 17  Localidad             2289 non-null   object
dtypes: datetime64[ns](1), float64(16), object(1)
memory usage: 322.0+ KB

# GENERALIDADES DEL LOS DATOS

In [19]:
df.describe(include='all')

,DateTime,PM10_(µg-m3),CO_(ppm),OZONO_(ppm),NO_(ppm),NO2_(ppm),NOX_(ppm),SO2_(ppm),Vel_Viento_(m-s),Dir_Viento_(grados),Temperatura_(C),Precipitacion_(mm),PM10_Flow_(L-m),PM2.5_(µg-m3),Presion_Baro_(mmHg),Rad_Solar_(W-m2),HR_(%),Localidad
count,2289,2096.000000,1656.000000,2245.000000,2201.000000,2203.000000,2205.000000,1112.000000,2219.000000,2228.000000,2286.000000,2103.000000,621.000000,2026.000000,914.00000,1635.000000,1646.000000,2289
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Puente_aranda
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,825
mean,2020-10-23 10:37:54.180865024,21.241698,1.210628,11.558886,17.560563,14.368407,28.158639,1.260971,18.358991,186.467235,14.030709,1.961103,13.077617,13.008736,563.97046,152.215902,69.525298,NaN
min,2019-04-01 00:00:00,0.400000,0.000000,0.400000,0.000000,0.400000,0.300000,0.000000,0.000000,0.000000,0.000000,0.000000,2.100000,0.900000,562.00000,0.000000,29.000000,NaN
25%,2020-04-03 00:00:00,11.700000,0.300000,3.900000,5.500000,7.500000,10.500000,0.700000,0.900000,96.000000,12.500000,0.000000,10.600000,6.800000,563.00000,22.000000,59.955000,NaN
50%,2020-05-28 00:00:00,19.300000,0.500000,9.300000,11.100000,12.300000,22.200000,1.100000,1.400000,181.000000,14.300000,0.000000,10.800000,11.600000,564.00000,37.000000,71.000000,NaN
75%,2021-05-29 00:00:00,28.600000,0.900000,16.400000,21.800000,18.850000,38.600000,1.600000,2.000000,297.000000,16.800000,1.150000,12.700000,17.500000,565.00000,308.500000,80.577500,NaN
max,2022-05-31 00:00:00,89.800000,24.600000,81.800000,136.800000,96.500000,148.300000,5.100000,352.000000,360.000000,22.600000,35.600000,43.500000,45.000000,566.00000,821.000000,96.000000,NaN
std,NaN,14.143894,2.440672,9.917456,18.931072,9.840969,23.988457,0.845822,61.088485,112.723665,4.823072,4.120191,5.258182,7.918117,0.91489,191.394907,12.509449,NaN